%block-wrapper {
  @extend .alert;
  margin: 0;
  padding: 1rem;
}

.multiplication-table {
  @extend .container;
  padding-top: 1rem;
  display: grid;
  height: 100%;
  grid-template-areas:
    'multiplication multiplication table table table table'
    'multiplication multiplication table table table table'
    'buttons buttons table table table table'
    'buttons buttons table table table table'
    'buttons buttons table table table table'
    'setting setting setting setting setting setting'
    'progress progress progress progress progress progress';
  grid-gap: 1rem;

  .block-setting {
    grid-area: setting;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;

    &__button-group {
      @extend .btn-group;
      grid-column: 1 / 4;

      & button {
        @extend .btn;
        font-size: 2rem;
        font-weight: 600;

        &[data-check='true'] {
          @extend .btn-secondary;
        }

        &[data-check='false'] {
          @extend .btn-outline-secondary;
        }
      }
    }

    &__button-start {
      @extend .btn;
      @extend .btn-danger;
      grid-column: 4 / 5;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .block-multiplication {
    @extend .alert-primary;
    @extend %block-wrapper;
    grid-area: multiplication;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 900;

    &__argument {
      height: max-content;
    }

    &__result {
      margin-left: 5px;
      width: 6rem;
      background-color: #cce5ff;
      border: none;
      outline: none;
    }
  }

  .block-buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5rem;

    &__button {
      @extend .btn;
      font-size: 2rem;
      font-weight: 600;

      &-number {
        @extend .btn-primary;
      }

      &-check {
        @extend .btn-success;
        grid-column: 2 / 4;
      }
    }
  }

  .block-table-result {
    @extend .alert-warning;
    @extend %block-wrapper;
    grid-area: table;

    &__table {
      @extend .table;
      @extend .table-warning;
      @extend .table-borderless;
      margin: 0;

      & > thead th {
        border: none;
      }
    }
  }

  .block-progress {
    @extend .progress;
    grid-area: progress;
    align-self: center;
    height: 2rem;

    &__progress-bar {
      @extend .progress-bar;
      width: 50%;
    }
  }
}
