.button-container{
  @extend .d-flex;
  @extend .justify-content-between;
  width: 300px;
  //justify-content: space-between;
}

table {
  @extend .text-center;
  @extend .h-75;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  max-height: 700px;
  //height: 76%;
  }
  th{
  @extend .bg-info;
  @extend .text-white;
  padding: 10px 20px;
  }
  th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  }
  td {
  @extend .bg-light;
  }
  th:hover{
    cursor: pointer;
    opacity: 0.8;
  }
  th:first-child{
  @extend .text-left;
  }
  th.sorted[data-order="-1"]::after {
    content: "▼"
  }

  th.sorted[data-order="1"]::after {
    content: "▲"
  }
  .table-container{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .flex-column;
    overflow: auto;
    //overflow-y: auto;
  }
  .reset-button {
    @extend .mt-2;
  }
  @media(max-width:625px){
    .table-container {
      align-items: flex-start;
    }
  }
