.wrapper__card-list{
  @extend .container;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .mx-auto;
  @extend .h-100;
  @extend .flex-column;
  max-width: 1200px;
}
.card-list{
  @extend .card-group;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .p-0;
  max-width: 1200px;
}
.card-list__card{
  @extend .mb-2;
  @extend .bg-light;
  list-style-type: none;
  transition: 0.2s all ease;
  user-select: none;
}

@keyframes hover-card {
  0% {
   box-shadow: 5px 5px 0 rgb(0, 0, 255);
  }
  100% {
    box-shadow: 5px 5px 0 rgb(0, 255, 0);
  }
}
.card-list__card:hover{
  //box-shadow: 5px 5px 0 rgb(0, 0, 0);
  animation: hover-card 1s linear infinite;
}
.card-list__container-flex {
  @extend .d-flex;
  justify-content:space-evenly;
}
.card-list__container-none{
  @extend .d-none;
}

.card__train-mode{
  border: 2px solid black;
}
.card__game-mode{
  border: 2px solid rgb(5, 145, 0);
  height: 284px;
}

.card__image{
  @extend .mb-2;
  width: 280px;
  height: 270px;
  border-bottom: 1px solid grey;
}

.card_image-game{
  height: 280px;
  border-bottom: none;
}

.card__imageTurn{
  width: 40px;
  height: 25px;
  @extend .mt-2;
}
.card__imageTurn:hover{
  opacity: 0.5;
}

.rotate{
  transform: rotateY(90deg);
}
.card_title-hidden{
  @extend .d-none;
}
.russianTitle{
  pointer-events: none;
}

.game-button, .repeat-button, .reset-button, .repeatWord-button{
  @extend .text-white;
  @extend .bg-dark;
  @extend .mb-2;
  width: 100px;
  height: 50px;
  user-select: none;
}
.game-button:hover,.repeat-button:hover, .reset-button:hover, .repeatWord-button:hover{
  //@extend .bg-dark;
  opacity: 0.7;
  cursor: pointer;
}
.reset-button, .repeatWord-button{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}
.game-button,.repeat-button {
  animation: change-button 2s linear;
  animation: text-button 1s linear infinite;
}
@keyframes text-button {
  0% {
    font-size: 14px;
  }
  100% {
    font-size: 16px;
  }
}

@keyframes change-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-button__on{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .mx-auto;
  //margin: 0 auto;
}
.game-button__off{
  @extend .d-none;
}
.card__correct{
  opacity: 0.3;
  pointer-events: none;
}
.panel-answer{
  width: 320px;
  height: 40px;
  @extend .bg-dark;
  @extend .m-3;
  overflow: hidden;
  user-select: none;
}

.panel-answer__on{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}
.success-modal{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .flex-column;
  @extend .position-fixed;
  @extend .w-100;
  @extend .h-100;
  @extend .bg-dark;
  @extend .text-white;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  transform: translate(100%);
  transition: 1s all ease;
}
.close-modal {
  @extend .position-absolute;
  @extend .font-weight-bold;
  top: -6%;
  left: 94%;
  font-size: 28px;
}
.close-modal:hover,
.close-modal:focus,
.close-modal-top:hover,
.close-modal-top:focus  {
  //color: blue;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}
.info-modal {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .text-white;
  @extend .text-center;
}

.finish-modal__close{
  transition-delay: 0s;
  transform: translate(100%);
}
.finish-modal__open {
  transition-delay: 1s;
  transform: translate(0);
}
.footer > a,span{
  @extend .m-1;
}

.switcher-block {
  width: 100px;
  height: 44px;
  @extend .bg-dark;
  @extend .position-relative;
  border: 2px solid black;
  margin: 5px 10% 5px auto;
}

.switcher-block:hover{
  // box-shadow: 2px 2px 2px 2px black;
  //border-color:blue;
  opacity: 0.8;
}

.switcher{
  width: 50px;
  height: 40px;
  @extend .position-absolute;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.switcher__on{
  right: 0;
  @extend .bg-success;
}
.switcher__off{
  @extend .bg-white;
  left: 0;
}
.switcher__info{
  user-select: none;
  font-size: 14px;
}
.card__link {
  color:rgb(0, 0, 0) !important;
}

.container-modal {
  width: 40%;
  @extend .position-relative;
  min-width: 308px;
  height: 20%;
  padding: 20px;
  border: 1px solid #888;
  font-size: 30px;
}
